body{
    font-family: 'Times New Roman', Times, serif;
}
.product{
    margin-bottom: 20px;
    color: #000;
}
.img{
    padding: 20px;
    margin-top: 20px;
}
.border-p4{
    height: 350px;
    width: 60%;
}

nav{
    background:linear-gradient(to right,#474e68,#6b72Be ) ;
   
}
