/* NavBar*/
body{
    font-family: 'Times New Roman', Times, serif;
    

}
nav{
    background:linear-gradient(to right,#474e68,#6b72Be ) ;
    padding: 10px;
}

/*Carousel*/
#carousel{
    background-color: #4e5979;
}
#myCarousel{
    max-width:500%;
}
.carousel.item img{
    width: 200%;
    height: 500px;
}

/*Carousel*/




/*CARDS-LATEST-PRODUCT*/
.card img{
    max-width: 100%;
    height: 200px;

}

.cards{
    border: 1px solid #4e5979;
    border-radius: 4px;
    
}
.cards img{
    max-width: 100%;
    height: 310px;

}
.cards .card-body{
    padding:10px
}
.cards:hover{
    border:2px #6b72Be;
    transform: translateY(-5px); 
    text-decoration: none;
}
h5,p{
    color: inherit;
    text-decoration: none;
}
h5,p:hover{
    color:inherit;
    text-decoration: none;
}




/**/

.carousel.img{
    height: 450px;
}


.card:hover {
    transform: translateY(-5px); 
    border: 1px solid #4e5979;
    
}

#bracelet{
    text-align: center;
    
}
#ring{
    text-align: center;
    
}
#necklace{
    text-align: center;
}
.card{
    display: inline-block;
    text-align: left;
    margin-right:20;
    width: 115%;
    max-width: 250%;
}

.card{
    width: 115%;
    margin-right: 20px;
    max-width: 200px;
    transition: transform 0.3s ease;
}


.border.p-4{
    border-radius: 20px;
    width: 102%;
    border: 2px solid #6475b8;
}


html {
    scroll-behavior: smooth;
}
.card-title {
    
   font-size: 1rem;
}

.card-text {
    color: rgb(57, 38, 4);
    text-align: left;
    justify-content: left;
    font-size: 1rem;
}
.p{
    align-self: left;
}
a {
    color: inherit; 
    text-decoration: none; 
}

a:hover {
    color: inherit; 
}


@media (max-width: 767px) {
    .cards {
        
        border: 1px solid #6475b8;
        border-radius: 8px;
        overflow: hidden;
        transition: box-shadow 0.3s ease;
        margin-bottom: 20px; 
    }
    

    .cards img {
        
        width: 100%;
        height: auto;
    }

  
    .cards .card-title {
        font-size: 1rem;
        margin-bottom: 3px;
    }

    .cards .card-text {
        font-size: 0.9rem;
        color: #888;
    }

    .cards:hover {   
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }
}

@media (min-width: 768px) {
    .card {
        margin-right: 5px; /* Adjust the margin as needed */
    }

    .mb-4-custom {
        margin-bottom: 20px; /* Adjust the margin between cards as needed */
    }
}
@media screen and (max-width:412px) and (max-height:915px){
    .product-card{
        max-width: 90%;
    }
}